<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }} | {{site.affiliation}}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    {% if site.canonical %}
    <link rel="canonical" href="{{ site.canonical }}"/>
    {% endif %}

    <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>

    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        {% if site.avatar %}
        <a class="image avatar"><img src="{{site.avatar}}" alt="avatar" onContextMenu="return false" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1> 
        
        {% if site.position %}
        {{ site.position }}
        <br>
        {% endif %}
        {{ site.affiliation }}
        {% if site.email %}
        <br>
        {{ site.email }}
        <br>
        <br>
        {% if site.zju %}
        <a class="image university"><img src="{{site.zju}}" alt="Zhejiang University" onContextMenu="return false" /></a>
        {% endif %}

        <a class="image university"><img src="{{site.sysu}}" alt="SUN-YAT SEN University" onContextMenu="return false" /></a>

        {% endif %}
        
      </header>

      <section class="section-md">
      </section>
      
      {% if site.about_me %}
        <section>
          <h2>About me</h2>
          <p>
            {{site.about_me}}
          </p>
        </section>
      {% endif %}
      

      <section>
      {{content}}
      </section>
      
      <section>     
        <h2>Publications</h2>

        <table width=100% border="0" cellspacing="0">
            <tbody>
                {% for publication in site.data.publications %}
                <tr>
                      <td >
                          <img width="140" height="140" src="{{ publication.teaser_img }}" class= "image publication">
                      </td>
                      <td> 
                          &nbsp;&nbsp;&nbsp;
                      </td>
                      <td>
                          {{publication.project_name}}
                          <p>
                            {{publication.authors}}
                          </p>
                          <p>
                            {{publication.platform}}
                          </p>
                          <p>
                              {% if publication.project_page_url %}
                              <a href="{{ publication.project_page_url }}">[Project Page]</a>
                              {% else %}
                              <!-- <a>[Project Page]</a> -->
                              {% endif %}
                          </p>
                          <p>
                              {% if publication.pdf_link %}
                              <a href="{{ publication.pdf_link }}">[pdf]</a>
                              {% else %}
                              <!-- <a>[pdf]</a> -->
                              {% endif %}
                          </p>
                      </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

      </section>
      <!-- end Publications -->

      <!-- begin Honor & Awards -->
      {% comment %} <section>
        
        <h2>Honor & Awards</h2>

        {% for project in site.data.educations %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <h2 class="resume-item-details">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h2>
          <!-- <h5 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4> -->
          <!-- <p class="resume-item-copy">{{ project.description }}</p> -->
        </div>
        {% endfor %}

      </section> {% endcomment %}
      <!-- end Honor & Awards -->
      

     

      
      <footer>
        
        <div class="social-icons">

          {% if site.linkedin %}
          <a href="{{ site.linkedin }}" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          {% endif %}
          {% if site.google_scholar %}
          <a href="{{ site.google_scholar}}" target="_blank">
            <i class="ai ai-google-scholar" style="font-size:1.6rem"></i>
          </a>
          {% endif %}
          {% if site.github_link %}            
          <a href="{{ site.github_link }}" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
        </div>
        <p class="visit">
          <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=PTXevshBTl9UJJo2L2d_Jcnotkflw96m040x5zboA9o&cl=ffffff&w=a"></script>
        </p>
        <br>
        <br>
        <br>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
